Subject: {{ subject }}

{{ body_text }}

Suggested slots (your local time, {{ prospect.timezone }}):
- {{ slot_1 }}
- {{ slot_2 }}

Or pick any time that works: {{ cal_link }}

{{ sender.first_name }}
{{ sender.title }}
Tenacious Intelligence Corporation
gettenacious.com
